/** bug fix for correct contrast when custom background and text is light color **/
.light {
	.portrait-title h2 {
		color: #000;
	}
	.portrait-title h3 {
		color: rgba(0, 0, 0, 0.54);
	}
	ul.ul-edu li .description p.institution {
		color: rgba(0, 0, 0, 0.6);
	}
}